@font-face {
    font-family: 'Muli-regular';
    src: url('../../fonts/muli/Muli-Regular.eot'), /* IE9 Compat Modes */
    url('../../fonts/muli/Muli-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/muli/Muli-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/muli/Muli-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/muli/Muli-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/muli/Muli-Regular.svg') format('svg'); /* Legacy iOS */
} 

@font-face {
    font-family: 'Poppins-regular';
    src: url('../../fonts/Poppins/Poppins-Regular.eot'), /* IE9 Compat Modes */
    url('../../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Poppins/Poppins-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/Poppins/Poppins-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/Poppins/Poppins-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/Poppins/Poppins-Regular.svg') format('svg'); /* Legacy iOS */
} 

@font-face {
    font-family: 'Montserrat-regular';
    src: url('../../fonts/Montserrat/Montserrat-Regular.eot'), /* IE9 Compat Modes */
    url('../../fonts/Montserrat/Montserrat-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../fonts/Montserrat/Montserrat-Regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../../fonts/Montserrat/Montserrat-Regular.woff') format('woff'), /* Pretty Modern Browsers */
    url('../../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../../fonts/Montserrat/Montserrat-Regular.svg') format('svg'); /* Legacy iOS */
} 

@mixin __header {
    color: $darkColor;
    font-family: 'Poppins-regular';
    font-size: 50px;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
} 

@mixin __brief {
    color: $greyColor;
    font-family: 'Muli-regular';
    line-height: 1.67;
    font-weight: bold;
    font-size: 15px;
    text-align: left;    
}

@mixin customer-images-container{
    overflow: hidden;
    border-radius: 100%;
}

@mixin responsive-customers{
    width: 120px;
    height: 120px;
}

$mainColor: #525ffb;
$greyColor: #BABABC;
$whiteColor: #ebebeb;
$darkColor: #1e1c24;

body{
    background-image: url("../../../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}
*{
    box-sizing: border-box;
}
.container {
    width: calc(100% - 260px);
    margin: 0 auto;
}
.header__btn__try-btn {
    font-family: 'Muli-regular';
    font-size: 20px;
    line-height: 1.35;
    color: $mainColor;
    padding: 10px 6px;
    min-width: 150px;
    border-radius: 100px;
    border: 2px solid $mainColor;
    background-color: transparent;
    &:focus-visible {
        outline: 0;
    }
   
                
}

.header__validation{
    margin-bottom: 10px;
}

.header__validation__email-form{
    border-radius: 100px;
    border: solid 2px $whiteColor;
    padding: 14px 115px;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Montserrat-regular';
    &:focus-visible{
        outline: 0;
    }
}

.footer__validation__email-form{
    border-radius: 100px;
    border: solid 2px $whiteColor;
    padding: 14px 115px;
    padding-left: 10px;
    font-size: 20px;
    font-family: 'Montserrat-regular';
    &:focus-visible{
        outline: 0;
    }
}
.header__validation__valid-text,
.header__validation__invalid-text,
.header__validation__no-email-text, 
.footer__validation__valid-text, 
.footer__validation__invalid-text, 
.footer__validation__no-email-text{
    padding-left: 10px;
    width: 600px;
}
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: $greyColor;
    opacity: 1; /* Firefox */
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: $greyColor;
  }
  
  ::-ms-input-placeholder { /* Microsoft Edge */
    color: $greyColor;
  }

.header__validation__submit{
    padding: 14px 60px;
    border-radius: 100px;
    margin-left: 20px;
    font-family: 'Poppins-regular';
    background-color: $mainColor;
    color: $whiteColor;
    font-size: 20px;
    text-align: center;
    border: none;
}

.customer-seperator{
    display: none;
}

.footer__validation__submit{
    padding: 14px 60px;
    border-radius: 100px;
    margin-left: 20px;
    font-family: 'Poppins-regular';
    background-color: $mainColor;
    color: $whiteColor;
    font-size: 20px;
    text-align: center;
    border: none;
}

.feature-service__header{
    padding-top: 223px;
    font-size: 50px;
    font-family: 'Poppins-regular';
    text-align: center;
}

.listing-wrapper {
  padding-top: 65px;
  margin-left: -45px;
  display: flex;
  justify-content: space-between;
  #card1{
    margin-left: 45px;
  }
  #card2{
  margin-left: -73px;
  }
  #card3{
    margin-left: -75px;
  }
  .listing-card{
    background-color: #525ffb;
    border-radius: 11px;
    height: 500px;
    width: 350px;
    .listing-card__content{
        text-align: center;
        .listing-card__content__header{
            font-size: 30px;
            font-family: 'Poppins-regular';
        }
        .listing-card__content__brief{
            font-size: 16px;
            font-family: 'Muli-regular';
        }
    }
    .listing-card__img {
        padding-top: 22px;
        padding-left: 50px;
}
}
}

#img3{
    padding-left: 15px;
}

.more-info{
    padding-top: 350px;
    max-width: 3000px;

    // schedule board styling

    .more-info__schedule-board__img{
        margin-top: -2000px;
        padding-bottom: 15px;
        margin-left: -5px;
    }
    .more-info__schedule-board{
        padding-left: 80px;
    .more-info__schedule-board__header{
        @include __header;
        padding-left: 690px;
        padding-bottom: 50px;
    }
    .more-info__schedule-board__brief{
        @include __brief;
        margin-left: 690px;
        margin-top: -60px;
    }
    .more-info__schedule-board__btn__learn-more{
        padding: 23px 85px;
        border-radius: 100px;
        font-family: 'Poppins-regular';
        background-color: $mainColor;
        color: $whiteColor;
        font-size: 20px;
        text-align: center;
        border: none;
        margin-left: 700px;
        margin-top: 15px;
    }
    }

    // data hologram styling
    .more-info__data-hologram{
        margin-top: 400px;
    .more-info__data-hologram__img{
        margin-left: 525px;
        margin-top: -525px;
    }
    .more-info__data-hologram__header{
        @include __header;
    }
    .more-info__data-hologram__brief{
        @include __brief;
    }
    .more-info__data-hologram__store-logos{
        padding-bottom: 100px;
        .more-info__data-hologram__store-logos__apple-logo{
            width: 52px;
            height: 55px;
        }
        .more-info__data-hologram__store-logos__google-play-logo{
            width: 122px;
            height: 55px;
        }
    }
        }

        
}

.try-our-service{
    .try-our-service__container{
            .try-our-service__container__header{
                @include __header;
                text-align: center;
                .try-our-service__number{
                    font-family: 'Poppins-regular';
                    padding-left: 30px;
                    font-size: 150px;
                    font-weight: 800;
                    line-height: 0.4;
                    color: $mainColor;
                    text-align: center;
                    margin-top: -300px;
                }
            }
        .try-our-service__container__customers{
            .try-our-service__container__customers__two-size110{
                margin-left: 1135px;
                margin-top: -200px;
                .try-our-service__container__customers__two{
                    width: 110px;
                    height: 110px;
                    @include customer-images-container;
                }
            }
            .try-our-service__container__customers__two-size88{
                margin-left: -750px;
                margin-top: 160px;
                .try-our-service__container__customers__two{
                    width: 88px;
                    height: 88px;
                    @include customer-images-container;
                }
            }
            .try-our-service__container__customers__two-size62{
                margin-left: 770px;
                margin-top: -160px;
                .try-our-service__container__customers__two{
                    width: 62px;
                    height: 62px;
                    @include customer-images-container;
                }
            }
            .try-our-service__container__customers__one-size72{
                margin-left: -1100px;
                margin-top: 220px;
                .try-our-service__container__customers__one{
                    width: 72px;
                    height: 65px;
                    @include customer-images-container;
                }
            }
            .try-our-service__container__customers__one-size140-2{
                margin-left: 1100px;
                margin-top: -150px;
                .try-our-service__container__customers__one{
                    width: 140px;
                    height: 140px;
                    @include customer-images-container;
                }
            }
            .try-our-service__container__customers__one-size140{
                margin-left: -1100px;
                .try-our-service__container__customers__one{
                    width: 140px;
                    height: 140px;
                    @include customer-images-container;
                }
            }
        }
        .try-our-service__container__footer{
            margin-top: 385px;
            height: 500px;
            .try-our-service__container__footer-content{
                @include __header;
                text-align: center;
            }
            .try-our-service__container__footer-brief{
                @include __brief();
                text-align: center;
                font-size: 27px;
            }
        }
    }
}

// flex-grow flex-shrink flex-basis

//  1920px 1366px 1024px 991px 768px 767px 414px 375px 320px 

// display 100% not 125%
@media (min-width: 1920px){
    .listing-wrapper {
        margin-left: 155px;
      }
      .more-info__data-hologram{
        margin-left: 380px;
      }
    }
    
@media (max-width: 1250px) {
    .header__details{
        margin-left: 60px;
    }
    .home-page{
        margin-left: 0;
    }
        .container {
            width: 700px;
        }
        .try-our-service{
        .try-our-service__container{
            .try-our-service__container__footer{
                margin-top: 250px;
                .footer__validation{
                    margin-left: 70px;
                }
            }
                        .try-our-service__container__header{
                            @include __header;
                            text-align: center;
                            .try-our-service__number{
                                font-family: 'Poppins-regular';
                                padding-left: 30px;
                                font-size: 150px;
                                font-weight: 800;
                                line-height: 0.4;
                                color: $mainColor;
                                text-align: center;
                                margin-top: -320px;
                            }
                        }
                    .try-our-service__container__customers{
                        .try-our-service__container__customers__two-size110{
                            margin-left: 0px;
                            margin-top: 0px;
                            display: inline-block;
                            .try-our-service__container__customers__two{
                                @include responsive-customers
                            }
                        }
                        .try-our-service__container__customers__two-size88{
                            margin-left: 0px;
                            margin-top: 0px;
                            display: inline-block;
                            .try-our-service__container__customers__two{
                                @include responsive-customers
                            }
                        }
                        .try-our-service__container__customers__two-size62{
                            margin-left: 0px;
                            margin-top: 0px;
                            display: inline-block;
                            .try-our-service__container__customers__two{
                                @include responsive-customers
                            }
                        }
                        .try-our-service__container__customers__one-size72{
                            margin-left: 0px;
                            margin-top: 0px;
                            display: inline-block;
                            .try-our-service__container__customers__one{
                                @include responsive-customers
                            }
                        }
                        .try-our-service__container__customers__one-size140-2{
                            margin-left: 0px;
                            margin-top: 0px;
                            display: inline-block;
                            .try-our-service__container__customers__one{
                                @include responsive-customers
                            }
                        }
                        .try-our-service__container__customers__one-size140{
                            margin-left: 0px;
                            display: inline-block;
                            .try-our-service__container__customers__one{
                                
                                @include responsive-customers;
                            }
                        }
                    }
                    .customer-seperator{
                        display: block;
                        height: 300px;
                    }
                    .try-our-service__container__footer{
                        margin-top: 385px;
                        .try-our-service__container__footer-content{
                            @include __header;
                            text-align: center;
                        }
                        .try-our-service__container__footer-brief{
                            @include __brief();
                            text-align: center;
                            font-size: 27px;
                        }
                    }
                }
            }
        .try-our-service__container__header{
            margin-top: 200px;
            .try-our-service__number{
                margin-top: 150px;
            }
        }

    .listing-wrapper{
        margin-left: calc(100% - 520px);
        #img3{
            padding-left: 10px;
        }
    }
    .header__error-messages-container{
        margin-left: 0px;
    }
    .more-info{
        margin-top: -1200px;
        max-width: 3000px;
        .more-info__schedule-board__header{
            margin-left: -630px;
            margin-top: 1000px;
        }
        .more-info__schedule-board{
        .more-info__schedule-board__brief{
            text-align: left;
            margin-left: 60px;
        }
        .more-info__schedule-board__btn__learn-more{
            margin-top: 40px;
            margin-left: 130px;
        }
    }
    .more-info__schedule-board__img{
        margin-top: 30px;
        margin-left: -10px;
    }
    .more-info__data-hologram{
        .more-info__data-hologram__header{
            margin-top: -250px;
            margin-left: 140px;
        }
        .more-info__data-hologram__brief{
            margin-left: 145px;
        }
        .more-info__data-hologram__img{
            margin-left: -5px;
            margin-top: 30px;
        }
        .more-info__data-hologram__store-logos{
            margin-left: 150px;
        }
    }

        }
    
    }
@media (max-width: 650px){
    .listing-card{
        padding-left: 1px;
    } 
}
