@font-face {
  font-family: 'Muli-Regular';
  src: url(./Muli-Regular.eot);
  src: url(./Muli-Regular.eot?#iefix) format('embedded-opentype'),
       url(./Muli-Regular.otf) format('otf'),
       url(./Muli-Regular.svg#Muli-Regular) format('svg'),
       url(./Muli-Regular.woff2) format('woff2'),
       url(./Muli-Regular.woff) format('woff'),
       url(./Muli-Regular.ttf) format('truetype');
}
